streamlit==1.65.0
numpy==2.5.3
pandas==3.0.5
scipy==1.18.1
scikit-learn==1.9.1
plotly==7.1.0
matplotlib==3.11.2
seaborn==0.13.2
openpyxl==3.1.5
python-calamine==0.8.2
umap-learn==0.5.12
xgboost==3.4.1
Boruta==0.4.3
joblib==1.6.0
fpdf2==2.8.9
optuna==5.0.0
requests==2.34.2
